<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57100448291-kcsiq6cn2mjl93rckihptahrqcvjosps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57100448291-kcsiq6cn2mjl93rckihptahrqcvjosps</string>
	<key>API_KEY</key>
	<string>AIzaSyCDU5_yhm91gO1kW5oykUcCgYu0kxCXkqI</string>
	<key>GCM_SENDER_ID</key>
	<string>57100448291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flavio.BSP5-Drone-App</string>
	<key>PROJECT_ID</key>
	<string>drone-mission-ipad-app</string>
	<key>STORAGE_BUCKET</key>
	<string>drone-mission-ipad-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57100448291:ios:107a0089f43ffa339ff796</string>
	<key>DATABASE_URL</key>
	<string>https://drone-mission-ipad-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>